fail_fast: true
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.8
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty check
        stages: [pre-commit]
        types: [python]
        entry: uv run ty check
        language: python
        pass_filenames: false
  - repo: local
    hooks:
      # Run the tests
      - id: pytest
        name: pytest
        stages: [pre-commit]
        types: [python]
        entry: uv run pytest
        language: system
        pass_filenames: false
